.header-panel {
    background-color: purple;
    height: 70px;
    padding: 0px 11px 0px 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-panel, .title-panel, .btn-panel {
    display: inline-block;
    margin-right: 20px ;
}
.title-panel {
    color: white;
    flex-grow: 1;
}

.logo-img {
    height: 35px;
    background-color: #ff7f7f;
}

.tabs-container {
    padding: 5px;
    text-align: center;
}

.modal-action-btn {
    margin-top: 20px !important;
}

.floating-error {
    background: #423f3f;
    width: fit-content;
    padding: 15px;
    border-radius: 7px;
    position: absolute;
    top: 48px;
    z-index: 1000;
    opacity: 100%;
    color: white !important;
    display: none;
}

.MuiFormHelperText-root {
    color: red !important;
}
